
html{

    scroll-behavior: smooth;
    --main-bg-color: #7A7595;
    --a:#474554;
    --blanco:#F3ECFF;
    --c:#AFA9CB;
    --d:#00C898;

}

body{

   background-color: var(--c);

}

.img_nav{

    width: 50px;
    height: 50px;
    
}

.btn{

    border-color: var(--blanco);
}

.btn-outline-success:hover{

    background-color: var(--blanco);
}


navbar-toggler-icon{
    background-color: var(--blanco);
}

.rows{

    max-width: 90%;
}

.container{

    margin-top: 2.5%;
    max-width: 60%;
}

.card{

    align-items: center;
}

.card-img-top{

    max-width: 70%;
    padding-top: 4%;
    padding-bottom: 3%;


}

.carousel-item active{

    margin: auto;
}

.d-block{

    width: 100vh !important;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;


}

.card-img-top{

}


.card{

    background-color: var(--blanco);
}


.card-body{

    padding-left: 10%  !important;
    padding-right: 10%  !important;
    padding-bottom: 5%  !important;
}

h2{

    text-align: center  !important;
    display: block;
    font-weight: bold;
}